@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9faf8;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

header h1 {
    font-weight: 700;
    font-size: 24px;
}

header ul,
a {
    list-style: none;
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #f9faf8;
    font-size: 18px;
}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10%;
    background-color: #1f2937;
    color: #f9faf8;
    gap: 56px;
    font-size: 18px;
    text-align: justify;
}

h2 {
    font-weight: 900;
    font-size: 48px;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.services {
    padding: 2% 10% 2% 10%;
    text-align: center;
}

.service-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 3% 0 3% 0;
}

.card {

    padding: 20px;
    border-radius: 10px;
    border: #3882f6 2px solid;
    flex: 1;
    text-align: center;
    font-size: 18px;
}

.testimonials {
    background-color: #e5e7eb;
    text-align: center;
    padding: 5% 10% 5% 10%;
    color: #1f2937;
}

.testimonials p {
    font-size: 36px;
    font-weight: 300;

}
.testimonials strong {
    font-size: 24px;
    font-weight: 700;
}